#btnLogin{
    -fx-background-color: #009900;
    -fx-background-radius: 3,2,1;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-padding: 3 30 3 30;
    -fx-pref-height: 35px;
    -fx-pref-width: 235px;
    -fx-text-fill: #f2f2f2;
}
#btnLogin:hover{
    -fx-background-color: #00cc00;
}
#btnLogin:pressed{
    -fx-background-color: #009900;
    -fx-text-fill: #595959;
}

#nameLabel, #passLabel{
    -fx-font-weight: bold;
    -fx-text-fill:#808080;
}
#loginLabel{
    -fx-font-size:18px;
    -fx-font-weight: bold;
    -fx-margin: 20px;
    -fx-text-fill:#808080;
}

#mainTopMenu, #topContainerTask{
    -fx-background-color: #595959;
    -fx-perf-height: 50px;
}
#btnLogout, #btnBack{
    -fx-pref-width: 150px;
}
.btn{
    -fx-font-size: 14px;
    -fx-pref-height: 30px;
    -fx-text-fill:#595959;
}

.VerzeichnisButton{
    -fx-background-color: rgb(255,255,255);
}
#btnNewElement{
    -fx-background-color: #f2f2f2;
    -fx-font-size: 16px;
    -fx-text-fill:#008000;
}
#btnNewElement:hover{
    -fx-font-weight: bold;
}
#loginContainer{
   -fx-effect: dropshadow(three-pass-box, rgba(80,80,80,0.8), 20, 0, 0, 0);
   -fx-background-color: rgb(255,255,255);
   -fx-padding: 0 30px 30px 30px;
}
#labelDirectory, #blockNameLabel{
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-text-fill:#f2f2f2;
}
#labelDirectory{
    -fx-text-fill:Yellowgreen;
}
#taskText{
    -fx-font-size: 16px;
    -fx-text-fill:#595959;
}
#answerPane{
    -fx-background-color: yellowgreen;
}
#tempPaneTest{
    -fx-background-color: #e6e6e6;
}
#createTaskPane{
    -fx-background-color: #e6e6e6;
}
#vBoxTaskText{
    -fx-background-color: #ffffcc;
    -fx-effect: dropshadow(three-pass-box, rgb(255, 255, 204), 20, 0, 0, 0);
}
#listContainer{
    -fx-background-color: #f2f2f2;
}
.subjectButton, .btnQuiz, #btnSchueler{
    -fx-background-color: #e6e6e6;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-text-fill:#595959;
}

#btnSchueler:hover{
    -fx-background-color: #595959;
    -fx-Text-fill:#f2f2f2;
}
.subjectButton:hover{
   -fx-background-color:yellowgreen;
   -fx-effect: dropshadow(three-pass-box, rgba(80,80,80,0.6), 10, 0, 0, 0);
}
.btnQuiz:hover{
     -fx-background-color:#f4f4a4;
     -fx-effect: dropshadow(three-pass-box, rgba(80,80,80,0.6), 10, 0, 0, 0);
}
.btnQuiz:pressed{
    -fx-text-fill:#f2f2f2;
}
.subjectButton:pressed{
    -fx-text-fill:#f2f2f2;
}
.btnCategory{
    -fx-background-color: #e6e6e6;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-text-fill:#595959;
}
.btnCategory:hover{
    -fx-background-color: #b8dc6f;
    -fx-effect: dropshadow(three-pass-box, rgba(80,80,80,0.6), 10, 0, 0, 0);
}

/*-----Popups------*/

#newTaskTextHBox{
    -fx-background-color: #595959;
}
.cancelButton, .okButton{
-fx-font-size: 14px;
    -fx-pref-height: 30px;
    -fx-pref-width: 120px;
    -fx-text-fill:#595959;
}
.okButton:hover{
    -fx-font-weight: bold;
     -fx-background-color:#8ab92d;
}
.okButton:pressed{
    -fx-background-color: #f2f2f2;
    -fx-text-fill:#009933;
}
.cancelButton:hover{
    -fx-font-weight: bold;
    -fx-background-color:#ff4d4d;
}
.cancelButton:pressed{
    -fx-background-color: #f2f2f2;
    -fx-text-fill:#ff471a;
}
.popupPane{
    -fx-background-color: #595959;
}